@font-face{
  font-family: 'PT Sans';
  src: url('/fonts/ptsans.woff') format('woff') ;
  src: url('/fonts/ptsans.woff2') format('woff2');
  font-weight: normal;
  font-style:normal;
}
@font-face{
  font-family: 'PT Sans';
  src: url('../fonts/ptsansbold.woff') format('woff') ;
  src: url('../fonts/ptsansbold.woff2') format('woff2');
  font-weight: 700;
  font-style:normal;}
body{
  font-size: 14px;
  line-height: 26px;
  font-family:"PT Sans", "Arial",sans-serif;
  text-transform: uppercase;
  color: black;
  font-weight: 700;
  background-color: white;
}
.main-menu__list,
.main-menu__list a{
  font:inherit;
  background-color:white;
}
.main-menu__list{
  list-style: none;
}
.main-menu__list a{
  text-decoration:none;
  color:inherit;}

.reasons-list__preview{
  font-size:14px;
  font-weight: bold;
  line-height: inherit;
  text-transform: inherit;
  text-align: center;
}
.reasons-list__preview__title{
  font-size: 21px;
}
.reasons-list__preview__info{
  font:inherit;
  font-weight: 100;
  line-height: inherit;
  color: #333333;
  text-transform: uppercase;
}
.reasons-item{
  background-color: #81b3d2;
}
.reasons-item:nth-last-child(1){
background-color: gainsboro;
}
.reasons-item{
  color: #ffffff;
  font-size:14px;
  font-weight: 400;

}
.categories-item__photo{
  background-image: url("../img/icon-1.svg");
  width: 75px;
  height: 76px;
  background-repeat:no-repeat;
  background-position: center;
}
.main-features-box:last-child{
  flex-direction: row-reverse;
}
.reasons-item .reasons-item__label{
  font-size: 21px;
  font-weight: 700;
  color: inherit;
  text-align: center;
  margin-top:0;
  padding-top: 0;
}
.reasons-item .reasons-item__number{
  font:inherit;
  color:inherit;
  margin-top:16px;
}
.reasons-item .reasons-item__slogan{
  font-size:13px;
  font-weight: 400;
  text-align: center;
  color:inherit;

}
.categories{
  font:inherit;
  font-weight: 400;
  line-height: 21px;
  text-transform: uppercase;
  color: #333333;
  background-color: white;
}
.categories-item .categories-item__label{
  font-size: 21px;
  font-weight: 700;
  color: #000000;
  padding-top: 32px;
}
.categories-item__slogan{
  padding-top: 12px;
  text-align: center;
}
.input .search{
  width: 610px;
  height: 86px;
  color: #ffffff;
  font-family:inherit;
  font-size: 21px;
  font-weight:inherit;
  line-height: inherit;
  text-transform: inherit;
  background-color: #766357;
  border:none;
}
.input .search:hover{
  background-color: #604e43;
}
.input .search:active{
  background-color: #503e33;
  color: rgba(255,255,255,0.3)
}
.input .fields{
  width: 568px;
  height: 395px;
  box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
}
.fields__label{
  font:inherit;
}
.fields__input{
  width: 346px;
  height: 38px;
  margin-left:22px;
  font:inherit;
  line-height: 26px;
  text-transform: uppercase;
  color: #000000;
  background-color: #f2f2f2;
  border:none;
  background-image: url("/img/calendar.svg");
  background-repeat: no-repeat;
  background-position: 338px 8px;
}

.fields__input:hover{
  background-color: #ebebeb;
}
.fields__input:focus{
  border: 2px solid #e5e5e5;
  background-color: #ffffff;
}
.fields .map{
  visibility: hidden;
}

.counter__input{
  width: 35px;
  min-height: 36px;
  background-color: #f2f2f2;
  border:none;

}
.counter__down,
.counter__up{
  width: 38px;
  height: 38px;
  background-color: #f2f2f2;

}
.counter__down{
  background-image: url("../img/-.svg");
  background-repeat: no-repeat;
  background-position: center;
  left:40px;
}
.counter__up{
  background-image: url("../img/+.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.fields  .fields__button{
  width: 495px;
  height: 62px;
  font:inherit;
  font-size: 21px;
  line-height:inherit;
  text-transform: inherit;
  background-color: #81b3d2;
  color: #ffffff;
  border:none;

}
.fields  .fields__button:hover{
  background-color: #669ec0;
}
.fields  .fields__button:active{
  background-color: #5496bd;
  color:rgba(255,255,255,0.3)
}
.question{
  color: #333333;
  font-family:inherit;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  text-align: center;
}
.question .question__title{
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align:inherit;
  color: #000000;
}
.question .question__descr{
  font:inherit;
  line-height:inherit;
  text-transform:inherit;
  text-align:inherit;
  color: inherit;
}
.social-item{
  margin-top:9px;
  width: 50px;
  height: 52px;
  background-color: #81b3d2;
}
.social-item .social-item__img{
  margin-bottom:16px;
}
.social-item:hover{
  background-color: #669ec0;
}
.social-item:active{
  background-color: #5496bd;
}
.social-item__label{
  display: none;
}
.footer-label .footer-label__hashteg{
  color: inherit;
  font:inherit;
  font-size: 21px;
}
.footer-autors .footer-autors__label{
  font:inherit;
  font-weight: 400;
}
/*catalog*/
.list-of-items{
  font:inherit;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-transform: uppercase;
}
.sorter-item__label{
  display:block;

}
.sorter-item__label{
  margin-left:20px;

}
.price .price__label{
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
}
.sorting-result{
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
}
.sorting__title{
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}
.sorting__button:first-of-type{
 color: #81b3d2;
}
.sorting__button{
  font-family: inherit;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-style: dotted;
  background: none;
  border:none;
  opacity: 0.3;
  color: #000000;
}
.sorting__title{
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: #000000;
}
.sorting__up,
.sorting__down{
  width:20px;
  min-height:20px;
  font-size: 0;
  border:none;
}
.sorting__up{
  background-image: url("../img/icon-up-dir.svg");
  background-position: 0 0;
  background-repeat: no-repeat;

}
.sorting__down{
  background-image: url("/img/icon-down-dir.svg");
  background-position: 0 0;
}
.filter-results-list-item__title{
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
}
.filter-results-list-item__info{
  display:inline-block;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-transform: uppercase;
  margin-bottom:20px;

}
.filter-results-list-item_about,
.filter-results-list-item_booking{
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  text-transform: uppercase;
  text-decoration: none;
  color:#ffffff;
  margin-left:5px;
}
.filter-results-list-item_about{
  display:inline-block;
  padding-left:14px;
  padding-top:4px;
  padding-right:14px;
  padding-bottom:4px;
  text-align: center;
  background-color: #81b3d2;
}
.filter-results-list-item_booking{
  display:inline-block;
  width: 142px;
  padding-left:6px;
  padding-top:4px;
  padding-right:6px;
  padding-bottom:4px;
  text-align: center;
  background-color: #766357;

}

.filter-results-list_rating{
  display:block;
  font-size:13px;
  font-weight:400;
  text-align: center;
  padding-top: 6px;
  line-height: 24px;



}



